
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --background: #1D0C59;
    --primary-color: #FFCFBE;
    --secondary-color: #FFCFBE;
    --text-color: #F2F2F2;
    --code-background: #282C34;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

*:not(span) {
    font-family: Rubik;
}

.bg {
    background-color: var(--background);
    color: var(--text-color);
}

header {
    text-align: center;
    text-transform: uppercase;
    padding: 70px 0;
    padding-bottom: 100px;
    color: var(--primary-color);
}

footer {
    text-align: center;
    padding: 20px 0;
    padding-top: 120px;
}

img {
    pointer-events: none;
}

footer p {
    color: var(--primary-color)
}

.lang-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: 2px dashed #F2F2F2;
    align-items: center;
}

.lang-info {
    flex: 1;
    padding-right: 20px;
}

.lang-info h2 {
    color: var(--secondary-color);
}

.lang-image {
    flex: 1;
    text-align: center;
}

@media (max-width: 768px) {
    .lang-section {
        flex-direction: column;
    }

    .lang-image {
        padding: 30px;
    }
}

.link {
    color: var(--primary-color)
}

.link:hover {
    color:var(--primary-color)
}

.code-snippet {
    background-color: var(--code-background);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.code-snippet pre code {
    background-color: transparent;
    padding: 0em !important;
    margin: 0;
    font-family: 'Source Code Pro', monospace !important;
}